section{
    display: flex;
}
body{
    padding: 50px;
    background-color: black
}
#logo1{
    margin-top: -50px;
    width: 250px;
    height: 150px;
}
.Navigation{
    margin-top: 50px;
    font-size: 35px;
    text-align: center;
    background-color: rgba(30, 28, 28, 0.788);
    position: fixed;
}
#Nav2{
    margin-top: 50px;
    justify-content: center;
    text-align: justify;
}
#Home{
    /* margin-top: 100px; */
    color: wheat;
    text-decoration: none;
}
#About{
    /* margin-top: 100px; */
    color: wheat;
    text-decoration: none;
}
#Menu{
    /* margin-top: 100px; */
    color: wheat;
    text-decoration: none;
}
#contact{
    /* margin-top: 100px; */
    color: wheat;
    text-decoration: none;
}
#Home:hover{
    color: brown;
}
#About:hover{
    color: brown;
}
#Menu:hover{
    color: brown;
}
#contact:hover{
    color: brown;
}
.Headingtext{
    text-align: center;
    border: 1px solid white; 
    margin-left: 350px;
}
#text1{
    margin-top: 30px;
    font-size: 20px;
    color: white;
}
#textmid{
    margin-top: 30px;
    font-size: 40px;
    color: red;
}
#text2{
    margin-top: 40px;
    font-style: italic;
    font-size: 20px;
    color: white;
}
#Image1{
    flex: 1;
    margin-left: 349px;
    margin-top: 30px;
    height: 500px;
}
#Image1adj{
    height: 500px;
}
#textmenu{
    border: 1px solid white;
    flex: 1;
    height: 600px;
    margin-top: 30px;
    margin-left: 20px;
}
#namecofe{
    font-weight: bold;
    color: red;
    font-size: 30px;
    margin-left: 30px;
}
#nameitem{
    margin-top: 30px;
    color: white;
    font-style: italic;
    font-size: 25px;
    margin-left: 30px;
}

#items{
    margin-top: 30px;
    color: red;
    font-size: 30px;
    font-weight: 100;
    margin-left: 30px;
}
#Tea{
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    margin-left: 30px;
}
#teaitems{
    color: red;
    font-size: 30px;
    font-weight: 100;
    margin-left: 30px;
}
